<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 text-center">
                    <h5>{{storage.getTeamName(user.selectedTeamId)}}</h5>
                </div>
                <div class="col-md-3 text-center">
                    <h5>Overall: {{overall}}</h5>
                </div>
                <div class="col-md-3 text-center">
                    <h5>Average Age: {{averageAge.toPrecision(2)}}</h5>
                </div>
                <div class="col-md-3 text-center">
                    <h5>Player Size: {{players.length}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                    <h5>{{team.budget | number}} $</h5>
                </div>
            </div>
            <br>
            <table class="table table-sm ">
                <thead class="thead-default">
                    <tr>
                        <th scope="col">ShirtNumber</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Overall</th>
                        <th scope="col">National</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of players; let i = index">
                        <td>{{item.number}}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{item.name}}
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink="#" (click)="storage.linkClick('player', item.id)">Info</a>
                                    <a class="dropdown-item" href="#">Fire Player</a>
                                    <a class="dropdown-item" routerLink="#" (click)="storage.linkClick('playerhistory', item.id)">Player
                                        History</a>
                                </div>
                            </div>
                        </td>
                        <!-- <td><a routerLink="#" (click)="storage.linkClick('player', item.id)">{{item.name}}</a></td> -->
                        <td>{{item.age}}</td>
                        <td>{{item.overall}}</td>
                        <td>{{item.national}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>