<div class="container">
    <div class="row">
        <h1>
            Create your league!!
        </h1>
    </div>
    <div class="form-group row">
        <label for="" class="col-md-2 col-form-label">Team</label>
        <div class="col-md-10">
            <select class="form-control" (change)="teamSelect($event.target.value)">
                <option *ngFor="let item of teams; let i=index" value="{{i}}">{{item}}</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <button class="btn" (click)="onClick()">Play Game</button>
    </div>
</div>