<div class="col-md-6">
    <div class="form-group row">
        <label class="col-md-3" for="">First</label>
        <div class="col-md-9">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)='preModal(0)'>
                {{selectedPlayers[0] == -1 ? 'SELECT' : storage.getPlayerName(selectedPlayers[0])}}
            </button>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3" for="">Second</label>
        <div class="col-md-9">  
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)='preModal(1)'>
                {{selectedPlayers[1] == -1 ? 'SELECT' : storage.getPlayerName(selectedPlayers[1])}}
            </button>
        </div>
    </div>
    <div class="form-group row">    
        <label class="col-md-3" for="">Thirth</label>
        <div class="col-md-9">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)='preModal(2)'>
                {{selectedPlayers[2] == -1 ? 'SELECT' : storage.getPlayerName(selectedPlayers[2])}}
            </button>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3" for="">Fourth</label>
        <div class="col-md-9">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)='preModal(3)'>
                {{selectedPlayers[3] == -1 ? 'SELECT' : storage.getPlayerName(selectedPlayers[3])}}
            </button>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3" for="">Fifth</label>
        <div class="col-md-9">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)='preModal(4)'>
                {{selectedPlayers[4] == -1 ? 'SELECT' : storage.getPlayerName(selectedPlayers[4])}}
            </button>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3" for="">Goal Keeper</label>
        <div class="col-md-9">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" (click)='preModal(5)'>
                {{selectedPlayers[5] == -1 ? 'SELECT' : storage.getPlayerName(selectedPlayers[5])}}
            </button>
        </div>
    </div>
    <div class="form-group row">
        <button class="btn btn-success" (click)="playSubmit()">Play Game</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SELECT PLAYER</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select id="1" class="form-control" (change)="playerSelect($event.target.value)">
                    <option value=""></option>
                    <option *ngFor="let item of players; let i = index" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>