<div class="container">
    <h3>TopScorer</h3>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Goal</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of topScorer; let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td><a routerLink="#" (click)="storage.linkClick('player', item.playerId)">{{storage.getPlayerName(item.playerId)}}</a></td>
                    <td>{{item.goal}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>