<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <select class="form-control" [(ngModel)]='myDiv' (change)="divisionChange($event.target.value)">
                    <option *ngFor="let item of counter(5); let i = index" value="{{i + 1}}">Division {{i + 1}}</option>
                </select>
            </div>  
            <table class="table">   
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Game</th>
                        <th scope="col">Win</th>
                        <th scope="col">Lose</th>
                        <th scope="col">Draw</th>
                        <th scope="col">GF</th>
                        <th scope="col">GA</th>
                        <th scope="col">GD</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of table; let i = index" class="{{getClass(i)}}">
                        <th scope="row">{{i + 1}}</th>
                        <td><a routerLink="#" (click)="storage.linkClick('team', item.teamId)">{{storage.getTeamName(item.teamId)}}</a></td>
                        <td>{{item.game}}</td>
                        <td>{{item.win}}</td>
                        <td>{{item.lose}}</td>
                        <td>{{item.draw}}</td>
                        <td>{{item.gf}}</td>
                        <td>{{item.ga}}</td>
                        <td>{{item.gd}}</td>
                        <td>{{item.points}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>