<div class="container">
    <div class="col-md-8">
        <table class="table">
            <tr *ngIf="player.retired">
                <td colspan="2">
                    <h2 style="color: rgb(255, 41, 41)">{{getRetired(player.retired)}}</h2>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2 style="color: #3B3833">{{player.number}}. {{player.name}} {{getRetired(player.retired)}}</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 style="color: #6D7D6B">Age: {{player.age}}</h4>
                </td>
                <td>
                    <h4 style="color: #1D7874">Overall: {{player.overall}}</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 style="color: #071E22">Attack: {{player.attack}}</h4>
                </td>
                <td>
                    <h4 style="color: #679289">Defend: {{player.defend}}</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 style="color: #3B3833">GoalKeeper: {{player.goalkeeper}}</h4>
                </td>
                <td>
                    <h4 style="color: #00171F">Finish: {{player.finish}}</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 [style.color]="getColor(player.morale)">Morale: {{getMorale(player.morale)}}</h4>
                </td>
                <td>
                    <h4 [style.color]="getColor(player.experience)">Experience: {{getMorale(player.experience)}}</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 style="color: #50514F">Team: {{storage.getTeamName(player.teamId)}}</h4>
                </td>
                <td>
                    <h4 style="color: rgb(67, 78, 55)">National: {{player.national}}</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 style="color: #071E22">Played Player: {{player.playedPlayer}}</h4>
                </td>
                <td>
                    <h4 style="color: #679289">Scored: {{player.scored}}</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 style="color: #3B3833">Played GK: {{player.playedGK}}</h4>
                </td>
                <td>
                    <h4 style="color: #1D7874">Conceded: {{player.conceded}}</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4><a routerLink="#" (click)="storage.linkClick('playerhistory', player.id)">Player History</a></h4>
                </td>
            </tr>
        </table>
    </div>
</div>