<div class="container">
    <h2 style="color: #00171F">{{player.number}}. {{player.name}}</h2>
    <h4 style="color: #003459">Age: {{player.age}}</h4>
    <h4 style="color: #007EA7">Overall: {{player.overall}}</h4>
    <h4 style="color: #247BA0">Attack: {{player.attack}}</h4>
    <h4 style="color: #00A8E8">Defend: {{player.defend}}</h4>
    <h4 style="color: #50514F">Team: {{storage.getTeamName(player.teamId)}}</h4>
    <h4 style="color: rgb(67, 78, 55)">National : {{player.national}}</h4>
    <h4 style="color: #50514F">Played Player: {{player.playedPlayer}}</h4>
    <h4 style="color: #00A8E8">Played GK: {{player.playedGK}}</h4>
    <h4 style="color: #007EA7">Scored: {{player.scored}}</h4>
    <h4 style="color: #247BA0">Conceded: {{player.conceded}}</h4>
</div>