<div class="text-left">
    <h4><a routerLink="#" (click)="storage.linkClick('player', player.id)">{{player.number}}. {{storage.getPlayerName(player.id)}}</a></h4>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Team</th>
                    <th scope="col">Season</th>
                    <th scope="col">Player Played</th>
                    <th scope="col">Scored</th>
                    <th scope="col">GK Played</th>
                    <th scope="col">Conceded</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of playerhistory; let i = index">
                    <td>{{storage.getTeamName(item.teamId)}}</td>
                    <td>{{item.season}}</td>
                    <td>{{item.playedPlayer}}</td>
                    <td>{{item.scored}}</td>
                    <td>{{item.playedGK}}</td>
                    <td>{{item.conceded}}</td>
                </tr>
                <tr *ngIf="!player.retired"  class="table-info">
                    <td>{{storage.getTeamName(player.teamId)}}</td>
                    <td>{{user.season}}</td>
                    <td>{{player.playedPlayer}}</td>
                    <td>{{player.scored}}</td>
                    <td>{{player.playedGK}}</td>
                    <td>{{player.conceded}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold"></td>
                    <td class="font-weight-bold">All Season</td>
                    <td class="font-weight-bold">{{allPlayedPlayer}}</td>
                    <td class="font-weight-bold">{{allScored}}</td>
                    <td class="font-weight-bold">{{allPlayedGK}}</td>
                    <td class="font-weight-bold">{{allConceded}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>