<div class="row">
    <div class="col-md-6">
        <div class="row">
            <h3><a routerLink="#" (click)="storage.linkClick('table')">League Table</a>&nbsp;- Division {{userDiv}}</h3>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Game</th>
                        <th scope="col">Win</th>
                        <th scope="col">Lose</th>
                        <th scope="col">Draw</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of table; let i = index" class="{{gameService.getClass(i)}}">
                        <th scope="row">{{i + 1}}</th>
                        <td><a routerLink="#" (click)="storage.linkClick('team', item.teamId)">{{storage.getTeamName(item.teamId)}}</a>
                            [{{storage.getTeamOverall(item.teamId)}}]</td>
                        <td>{{item.game}}</td>
                        <td>{{item.win}}</td>
                        <td>{{item.lose}}</td>
                        <td>{{item.draw}}</td>
                        <td>{{item.points}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form>
            <div class="form-group">
                <label for="fixture"><h3><a routerLink="#" (click)="storage.linkClick('fixture')">Fixture</a>&nbsp;- Division
                        {{userDiv}}
                    </h3></label>
                <select class="form-control" id="fixture" (change)="fixtureChange($event.target.value)">
                    <option *ngFor="let item of counter(user.size); let i = index" value="{{i + 1}}">Week {{i + 1}}</option>
                </select>
            </div>
            <div class="row">
                <ng-container *ngFor="let item of matches">
                    <div class="col-md-4 text-center">{{storage.getTeamName(item.homeTeamId)}}</div>
                    <div class="col-md-4 text-center">
                        <a routerLink="#" (click)="storage.linkClick('score', item.id)">{{item.homeTeamGoal === -1 ? 'X'
                            : item.homeTeamGoal}} - {{item.awayTeamGoal === -1 ? 'X' : item.awayTeamGoal}}</a>
                    </div>
                    <div class="col-md-4 text-center">{{storage.getTeamName(item.awayTeamId)}}</div>
                </ng-container>
            </div>
        </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 text-center">
        <div class="row">
            <h3><a routerLink="#" (click)="storage.linkClick('topscorer')">TopScorer</a>&nbsp;- Division {{userDiv}}</h3>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Goal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of topScorer; let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td><a routerLink="#" (click)="storage.linkClick('player', item.playerId)">{{storage.getPlayerName(item.playerId)}}</a></td>
                        <td>{{item.goal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <h3>My Best Players</h3>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Overall</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of players; let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td><a routerLink="#" (click)="storage.linkClick('player', item.id)">{{item.name}}</a></td>
                        <td>{{item.overall}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>